.info-container{
    width: 100%;
    position: relative;
}

.animate-info:hover{
    transform: scale(1.3);
}

#modalContent{
    background: #fc00ff;
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
    background: linear-gradient(to right, #00dbde, #fc00ff);
}

img{
    height: 100%;
    width: 100%;
}

.wallGif{
    margin: 4vh 5vw ;
    width: 20vw;
    height: 16vw;
}

.mazeAddGif{
    margin: 4vh 3.5vw;
    width: 23vw;
    height: 15vw;
}

.visualizeGif{
    margin: 4vh 4vw;
    width: 23vw;
    height: 15vw;
}

.info-subhead{
    text-align: left; 
    color: white;
    font-size: 1.5vw; 
    margin-bottom: 1vh;
}