
.icon{
    display: inline-block;
    height:2vw;
    width:2vw;
}
 
.label{
    color: white;
    font-size: 1vw;
    font-family:sans-serif;
}

.start{
    font-size: 1.5vw;
}
.end{
    font-size: 1.5vw;
    color: red;
}

.not-visited{
    height: 2vw;
    width: 2vw;
    background: white;
    border-color: rgba(44, 43, 43, 0.354);
    border-style: solid;  
    border-width: 1px;
}

.new-visit{
    height: 2vw;
    width: 2vw;
    background: rgb(19, 125, 230);
} 

.visited{
    height: 2vw;
    width: 2vw;
    background: rgb(255, 6, 6);
}

.wall{
    height: 2vw;
    width: 2vw;
    background: url('./Images/Brick.png');
}

.path{
    height: 2vw;
    width: 2vw;
    background: #525252;
}

@media only screen and (max-width: 768px) {
    [class*=label]{
        font-size: 2vw;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 769px) {
    [class*=label]{
        font-size: 1.5vw;
    }
}